<table class="table table-bordered tabla-alumnos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nota</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- La clase table-danger pone el fondo rojo -->
    <tr class="table-danger">
      <td>Marta</td>
      <td>González</td>
      <td class="text-center">4</td>
      <td>
        <a href="#" class="borrar">
          <i class="fa fa-times-circle"></i>
        </a>
      </td>
    </tr>
    <!-- La clase table-success pone el fondo verde -->
    <tr class="table-success">
      <td>Juan</td>
      <td>Lupión</td>
      <td class="text-center">8</td>
      <td>
        <a href="#" class="borrar">
          <i class="fa fa-times-circle"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
