<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Nota media</div>
      <div class="card-body numbers">6</div>
      <!-- La clase fa-smile pone la cara sonriente, y la clase icono-ok la pone en verde -->
      <i class="fa fa-smile icono-status icono-ok"></i>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">Máxima nota</div>
      <div class="card-body numbers">4.5</div>
      <!-- La clase fa-frown pone la cara triste, y la clase icono-no-ok la pone en rojo -->
      <i class="fa fa-frown icono-status icono-no-ok"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Aprobados</div>
      <div class="card-body numbers">40 (100%)</div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">Suspensos</div>
      <div class="card-body numbers">4 (30%)</div>
    </div>
  </div>
</div>
