<notas-cabecera></notas-cabecera>
<main class="container">
  <div class="row">
    <div class="col">
      <notas-aula></notas-aula>
    </div>
    <div class="col">
      <notas-aula></notas-aula>
    </div>
    <div class="col">
      <notas-aula></notas-aula>
    </div>
  </div>
</main>
<!--<notas-loading></notas-loading>-->
