<div class="card">
  <div class="header row">
    <h2 class="col-10">Aula A</h2>
    <div class="col-2 anyadir">
      <a href="#">
        <i class="fa fa-plus-circle"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <notas-lista></notas-lista>
  </div>
  <div class="card-footer totales">
    <notas-estadisticas-aula></notas-estadisticas-aula>
  </div>
</div>
